body {
  margin: 1em;
}

#top {
  background-color: #ce0909;
  padding: 1.3em;

}

h1 {
  display: inline-block;
  width: 10em;
  text-align: center;
  margin-left: 6em;
}

.togMen {
  border: .2em solid black;
  border-radius: 10%;
  width: 2em;
  padding: .3em;
  text-align: center;
  cursor: pointer;
  padding-right: .4em;
  background-color: white;
}

span {
  display: block;
  width: 90%;
  height: .3em;
  background-color: black;
  margin: .3em;
}

ul {
  border: 2px solid black;
  border-radius: 3%;
  width: 100px;
  padding: 5px;
  background-color: white;
}

.navLink {
  text-decoration: none;
}

.breaker {
  height: .3em;
  width: 100%;
  background-color: black;
  display: block;
  margin: .5em;
}

.arrow {
  width: 20px;
  padding: 2px;
  margin-bottom: -5px;
  float: right;
}

.articleBox{
  background-color: #ce0909;
  color: white;
  padding: 1em;
  border: .3em solid black;
}

img {
  max-width: 300px;
}

.title {
  font-weight: bold;
  font-size: 2em;
}

.artbreak {
  height: .3em;
  width: 100%;
  background-color: black;
  display: block;
  margin: .5em;
}

.readMore {
  background-color: white;
  color: black;
}

.author>a {
  color: white;
  font-weight: bold;
}

.author>a:hover {
  color: black;
}
