body {
  margin: 20px;
  background-image: url("../img/back.jpg");
}

a.navLink {
  color: white;
  text-decoration: none;
}

a.navLink:hover {
  color: white;
}

li {
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 3px;
  background-color: #48486b;
  color: white;
}

li:hover {
  background-color: #666699;
}

#navBar {
  text-align: center;
}

#top {
  text-align: center;
  font-size: 24px;
  color: white;
}

#topest {
  background-color: #990033;
  width: 95%;
  opacity: 0.9;
  border-radius: 3%;
  border: 2px solid black;
  height: 80px;
  padding: 5px;
}

.articleBox {
  background-color: #ffffcc;
  border: 2px solid #990033;
  padding: 9px;
}

.title {
   font-size: 20px;
   font-weight: bold;
 }

img {
  float: left;
  margin: 9px;
  max-width: 300px;
}

.artTite {
  background-color: white;
  border: 2px solid black;
  border-bottom: none;
  padding: 9px;
}

.arrow {
  width: 20px;
}

.cateFill, .authFill {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.arrow {
  width: 20px;
}
