

#formA {
  display: inline-block;
  margin-left: auto;
}

#formC {
  display: inline-block;
  margin-left: auto;
}
.togMen {
  border-radius: 10%;
  width: 2em;
  padding: .3em;
  text-align: center;
  cursor: pointer;
  padding-right: .4em;
  background-color: white;
}

.navLink {
  text-decoration: none;
}

.arrow {
  width: 20px;
  padding: 2px;
  margin-bottom: -5px;
  float: right;
}

.title {
  font-weight: bold;
  font-size: 2em;
}
