#top {
  background-color: #ce0909;
  padding: 1.3em;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.breaker {
  height: .3em;
  width: 100%;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-top: 1em;
}

.articleBox{
  background-color: #ce0909;
  color: white;
  padding: 1em;

}

.artbreak {
  height: .3em;
  width: 100%;
  background-color: black;
  display: block;
  margin: .5em;
}

.readMore, .readLess {
  background-color: white;
  color: black;
}

.author>a {
  color: white;
  font-weight: bold;
}

.author>a:hover {
  color: black;
}
